# Auto detect text files and perform LF normalization
* text=auto
config/* linguist-vendored
sampledb/* linguist-vendored
web/fonts/* linguist-vendored
web/*.js linguist-vendored
web/*.png linguist-vendored
vendor/* linguist-vendored
*.png binary
*.ttf binary